/*.classpath
/.settings
/jdk-spi-mechanism-thinking/*.classpath
/jdk-spi-mechanism-thinking/*.gitignore
/jdk-spi-mechanism-thinking/*.project
/jdk-spi-mechanism-thinking/.settings
/*.project
/spring-spi-mechanism-thinking/*.classpath
/spring-spi-mechanism-thinking/*.gitignore
/spring-spi-mechanism-thinking/.settings
/spring-spi-mechanism-thinking/*.project
/target/
/dubbo-spi-mechanism-thinking/*.classpath
/dubbo-spi-mechanism-thinking/*.project
/dubbo-spi-mechanism-thinking/.settings
/dubbo-spi-mechanism-thinking/*.gitignore
/spring-spi-mechanism-thinking2/.settings
/spring-spi-mechanism-thinking2/*.project
/spring-spi-mechanism-thinking2/*.gitignore
/spring-spi-mechanism-thinking2/*.classpath
/jdk-spi-mechanism-thinking2/*.classpath
/jdk-spi-mechanism-thinking2/*.gitignore
/jdk-spi-mechanism-thinking2/*.project
/jdk-spi-mechanism-thinking2/.settings
/jdk-spi-mechanism-thinking1/*.classpath
/jdk-spi-mechanism-thinking1/*.gitignore
/jdk-spi-mechanism-thinking1/*.project
/jdk-spi-mechanism-thinking1/.settings/*.prefs
/jdk-spi-mechanism-thinking3/*.classpath
/jdk-spi-mechanism-thinking3/*.project
/jdk-spi-mechanism-thinking3/.settings/*.prefs
/jdk-spi-mechanism-thinking1/.settings
/jdk-spi-mechanism-thinking3/*.gitignore
/jdk-spi-mechanism-integration-spring2/*.classpath
/jdk-spi-mechanism-integration-spring2/*.gitignore
/jdk-spi-mechanism-integration-spring2/*.project
/jdk-spi-mechanism-integration-spring2/.settings/*.prefs
/jdk-spi-mechanism-thinking2/target/classes/META-INF
/jdk-spi-mechanism-thinking2/target/classes/org/example/*.class
/jdk-spi-mechanism-integration-spring1/*.classpath
/jdk-spi-mechanism-integration-spring1/*.gitignore
/jdk-spi-mechanism-integration-spring1/*.project
/jdk-spi-mechanism-integration-spring1/.settings
/jdk-spi-mechanism-integration-spring3/*.classpath
/jdk-spi-mechanism-integration-spring3/.settings
/jdk-spi-mechanism-integration-spring3/*.project
/jdk-spi-mechanism-integration-spring3/*.gitignore
/jdk-spi-mechanism-integration-spring5/*.classpath
/jdk-spi-mechanism-integration-spring5/.settings
/jdk-spi-mechanism-integration-spring5/*.project
/jdk-spi-mechanism-integration-spring5/*.gitignore
/jdk-spi-mechanism-integration-spring4/*.classpath
/jdk-spi-mechanism-integration-spring4/*.gitignore
/jdk-spi-mechanism-integration-spring4/*.project
/jdk-spi-mechanism-integration-spring4/.settings/*.prefs
/.idea/*.gitignore
/.idea
/dubbo-spi-mechanism-thinking1/*.classpath
/dubbo-spi-mechanism-thinking1/.settings
/dubbo-spi-mechanism-thinking1/*.gitignore
/dubbo-spi-mechanism-thinking1/*.project
/dubbo-spi-mechanism-thinking1/*.iml
/jdk-spi-mechanism-integration-spring1/*.iml
/jdk-spi-mechanism-integration-spring2/jdk-spi-mechanism-integration-spring2.iml
/jdk-spi-mechanism-integration-spring3/*.iml
/jdk-spi-mechanism-integration-spring4/*.iml
/jdk-spi-mechanism-integration-spring5/*.iml
/jdk-spi-mechanism-thinking1/*.iml
/jdk-spi-mechanism-thinking3/*.iml
/spring-spi-mechanism-thinking/*.iml
/spring-spi-mechanism-thinking2/*.iml
/*.iml
